{{define "content"}}
	<div class="container">
		<div class="col-sm-6 sm-offset-3">
			<form action="/signup" method="post">
				<div class="form-group">
					<label for="inputEmail">Email</label>
					<input id="inputEmail" type="email" name="email" value="{{.Email}}" class="form-control" placeholder="Email"/>
				</div>
				<div class="form-group">
					<label for="inputFirstName">Email</label>
					<input type="text" name="first-name" value="{{.FirstName}}" class="form-control" placeholder="First Name"/>
				</div>
				<div class="form-group">
					<label for="inputEmail">Email</label>
					<input type="text" name="last-name" value="{{.LastName}}" class="form-control" placeholder="Last Name"/>
				</div>
				<div class="form-group">
					<label for="inputPassword">Password</label>
					<input id="inputPassword" type="password" name="password" class="form-control" value="{{.Password}}" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="inputPasswordConfirmation">Password</label>
					<input id="inputPasswordConfirmation" type="password" name="password-confirmation" class="form-control" value="{{.PasswordConfirmation}}" placeholder="Confirm Password"/>
				</div>
				
				<button type="submit" class="btn btn-primary">Signup</button>
			</form>
		</div>
	</div>
{{end}}
