<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Lemonade Stand Supply
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item {{if .Active}} {{ if eq .Active "home"}} active {{end}} {{end}}">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {{if .Active}} {{ if eq .Active "shop"}} active {{end}} {{end}}">
            <a class="nav-link" href="/shop">Shop</a>
        </li>
        <li class="nav-item {{if .Active}} {{ if eq .Active "standlocator"}} active {{end}} {{end}}">
            <a class="nav-link" href="/stand_locator">Stand Locator</a>
        </li>
        </ul>
        <span class="navbar-text">
            <a href="/login">Login</a> | 
            <a href="/signup">Signup</a>
            <a href="#"><img src="/img/cart_small.png" alt="cart" /></a>
        </span>
    </div>
</nav>
