<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{.Title}}</title>
<link href="/css/app.css" rel="stylesheet" />
<link href="/css/bootstrap.min.css" rel="stylesheet" />
{{block "styles" .}}{{end}}
</head>
<body>
	{{template "_header.html" .}}
	{{template "_alerts.html" .}}
	{{template "content" .}}
	{{template "_footer.html" .}}
	<script src="/js/jquery-3.2.1.slim.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>
    {{block "scripts" .}}{{end}}
</body>
